/bootstrap/compiled.php
/vendor/autoload.php
/vendor/composer/autoload_real.php
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea

# Config
app/config/app.php
app/config/database.php
app/config/testing/database.php
app/config/orbit.php

# Uploads directory
public/uploads/**
