/bootstrap/compiled.php
/vendor/autoload.php
/vendor/composer/autoload_real.php
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea
*.iml

# Config
app/config/app.php
app/config/database.php
app/config/testing/database.php
app/config/orbit.php
app/config/mail.php
public/mobile-ci/scripts/config.js

# Uploads directory
public/uploads/**

# Environment
app/config/rio/**
orbit.env.php

# config pos
public/templatepos/js/config.js

# Laraeval config
app/config/packages/laraeval/laraeval/config.php

# test vendor
vendor/fzaninotto/
vendor/laracasts/
vendor/mockery/
vendor/hamcrest/

# Export directory
export-import/data/**

# Import Data
app/storage/imports/

# Compiled routes
app/routes/orbit-compiled-routes.php
