@theme-main: #0AA5D5;
@theme-main-complimentary: #097494;
@theme-main-complimentary-2: #FFFFFF;
@theme-main-complimentary-3: #07556C;
@theme-main-gray: #CCCCCC;
@theme-main-info-1: #33CC99;
@theme-main-info-2: #FFAC41;
@theme-delete: #C70202;
@theme-main-family-1: #000000;
@theme-main-family-2: #323232;
@theme-main-family-3: #4A4A4A;
@theme-main-family-4: #6C6C6C;
@theme-main-family-5: #8E8E8E;