@theme-main: #0AA5D5;
@theme-main-complimentary: #097494;
@theme-main-complimentary-2: #FFFFFF;
@theme-main-gray: #CCCCCC;
@theme-main-info-1: #33CC99;
@theme-main-info-2: #FFAC41;
@theme-delete: #C70202;
@theme-main-family-1: #060606;
@theme-main-family-2: #161616;
@theme-main-family-3: #262626;
@theme-main-family-4: #363636;
@theme-main-family-5: #464646;