/**
 * Config
 * ------
 * All config for the application
 * @author Agung (agung.julisman@yahoo.com)
 * @author Rio Astamal <me@rioastamal.net>
 */

"use strict";

define([

], function () {
    var config = {};
    var proto = window.location.protocol;
    var slashes = proto.concat("//");
    var host = slashes.concat(window.location.hostname);

    config.baseUrlServer       = host + '/app/v1';
    config.baseUrlServerPublic = host;

    return config;
});
